# OS
.DS_Store
Thumbs.db
Desktop.ini

# IDE
.vscode/
.idea/

# Node
node_modules/
package-lock.json

# Python
__pycache__/
*.pyc
.env
.env.*
venv/
.venv/

# Django
db.sqlite3
*.sqlite3
media/

# Build
dist/
build/
