INTEGRATIONS_ENABLED=false
AIRTABLE_PAT=replace_in_apps_script_properties_only
AIRTABLE_BASE_ID=appXXXXXXXXXXXXXX
AIRTABLE_RESPONSES_TABLE=Responses
AIRTABLE_LOG_TABLE=Integration Log
SLACK_WEBHOOK_URL=https://hooks.slack.com/services/replace/me
SURVEY_SOURCE_VERSION=2026-07

